<div class="container my-5 text-start fs-3" id="about-me">
    <h1 class="display-4 text-uppercase text-decoration-underline text-center mb-5">about me</h1>
    <p class="fw-bold lh-base">
        I'm a Frontend focused Full-Stack Developer.
    </p>
    <p class="lh-base">
        I'm a web developer currently in the final year of my <span class="text-decoration-underline">B.Tech</span> with
        a knack for learning new tech. Be it a framework, a library, or even a new programming language if it is to my
        liking I will try
        it out.
    </p>
    <p class="lh-base">
        I'm proficient working in <code class="fw-bold fs-2 mern-hover">MERN</code> stack (MongoDB, Express, React and
        Node.js).
        Apart
        from the web, I
        have a good knowledge of Data Structures and Algorithms also.

    <p class="lh-base">
        I love solving problems using JavaScript, Java and C++. Always up for a cup of coffee!
    </p>
    <p class="lh-base">
        If not programming, you will find me playing video games, listening songs or watching anime.
    </p>

</div>