<div class="px-5 text-start fs-3 d-flex flex-column align-items-center bg-dark text-white" id="about-me"
    style="padding-top: 3em;">
    <h1 class="display-4 text-uppercase text-decoration-underline text-center mb-5">about me</h1>
    <div class="middle">
        <p class="fw-bold lh-base my-4">
            I'm a Frontend focused Full-Stack Developer.
        </p>
        <p class="lh-base my-3">
            I'm a web developer currently in the final year of my <span class="text-decoration-underline">B.Tech</span> with
            a knack for learning new tech. Be it a framework, a library, or even a new programming language if it is to my
            liking I will try
            it out.
        </p>
        <p class="lh-base my-3">
            I'm proficient working in <code class="fw-bold fs-2 mern-hover">MERN</code> stack (MongoDB, Express, React and
            Node.js).
            Apart
            from the web, I
            have a good knowledge of Data Structures and Algorithms also.
        <p class="lh-base my-3 ">
            I love solving problems using JavaScript, Java and C++. Always up for a cup of coffee!
        </p>
        <p class="lh-base my-3">
            If not programming, you will find me playing video games, listening songs or watching anime.
        </p>
    </div>
    
    <a type="button" class="btn btn-outline-success btn-lg mt-5 mb-5  fw-bold fs-3" role="button"
        href="/resume/VaibhavResume.pdf"
        target="_blank"><i class="far fa-file"></i>
        <span>Download Resume</span></a>
</div>