<footer class="navbar-expand-lg text-white bg-dark text-center py-2">
    <p class="small mt-2">© Copyright 2021 - <a class=" text-decoration-none text-white hover" target="_blank"
            href="https://github.com/vaibhavmahindru">Vaibhav Mahindru
        </a></p>
</footer>