<section class="container  text-start fs-3 " id="experience" style="padding-top: 5rem;">
    <h1 class="display-4 text-uppercase text-decoration-underline text-center mb-5">experience</h1>
    <div class="row d-flex container">
        <div class="col-md-10">
            <div class="mt-3">
                <div class="py-4">
                    <div class="desc">
                        <h4 class="fs-2">Full-Stack Developer</h4>
                        <p class="text-muted fs-5">Mushin Innovation Labs Pvt. Ltd.</p>
                    </div>
                    <div>
                        <p class="lh-base my-3 fs-4">
                            Working there as a full-stack developer in MERN stack (MongoDB, Express, React and
                            Node.js).
                        </p>
                    </div>
                    <div>
                        <p class="fs-5 text-muted">
                            <i class="far fa-calendar-alt"></i>
                            June 2021 - Present
                        </p>
                    </div>
                </div>
                <div class="py-4">
                    <div class="desc">
                        <h4 class="fs-2">React Developer</h4>
                        <p class="text-muted fs-5">Carrus Mobility Solutions</p>
                    </div>
                    <div>
                        <p class="lh-base my-3 fs-4">
                            Working their as a front end developer and creating websites using Reactjs.
                        </p>
                    </div>
                    <div>
                        <p class="fs-5 text-muted">
                            <i class="far fa-calendar-alt"></i>
                            May 2021 - Present
                        </p>
                    </div>
                </div>
                <div class="py-4">
                    <div class="desc">
                        <h4 class="fs-2">Front End Developer</h4>
                        <p class="text-muted fs-5">Fleksa</p>
                    </div>
                    <div>
                        <p class="lh-base my-3 fs-4">
                            Developed the website for the food delivery company which includes the complete front end
                            part
                            using ReactJS and implementing Multi Website Single Backend Technology and multi lingual
                            support.
                        </p>
                    </div>
                    <div>
                        <p class="fs-5 text-muted">
                            <i class="far fa-calendar-alt"></i>
                            April 2021 - May 2021
                        </p>
                    </div>
                </div>
                <div class="py-4">
                    <div class="desc">
                        <h4 class="fs-2">Technial Associate</h4>
                        <p class="text-muted fs-5">Venido Cabs Pvt. Ltd.</p>
                    </div>
                    <div>
                        <p class="lh-base my-3 fs-4">Worked as a Frontend developer using ReactJs.</p>
                        <p class="lh-base my-3 fs-4">Developed a custom admin dashboard for their website using ReactJs,
                            CSS, HTML and JavaScript from scratch.</p>
                        <p class="lh-base my-3 fs-4">Integrated Back-end services using REST APIs.</p>
                        <p class="lh-base my-3 fs-4">Implemented the given and suggested updates on a regular basis.</p>
                        <p class="lh-base my-3 fs-4">Worked both independently and on a team to solve problems.</p>
                    </div>
                    <div>
                        <p class="fs-5 text-muted">
                            <i class="far fa-calendar-alt"></i>
                            May 2020 - October 2020
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>