<div class="d-flex align-items-center justify-content-center bg-transparent " style="height: 100%; width: 100%;">
    <div
        class="text-white p-4 container-fluid h-100 w-100 d-flex flex-column align-items-center justify-content-around z">
        <img src="/images/v.jpg" class="img-fluid rounded-circle shd my-3" alt="picture" style="width: 18rem;">
        <div class="h-50 w-50 text-center container">
            <p class="fs-1 mb-3">I'm <span class="text-hover">Vaibhav Mahindru</span>!!</p>
            <p class="fs-2 border border-light shd mb-4">Full-stack developer <code>||</code> Open-Source Enthusiast
            </p>
            
        </div>
        <div class="d-flex flex-row align-items-center justify-content-evenly m-2 fs-1">
            <a class=" text-white p-2 mx-3 icons-hover" target="_blank" href="https://github.com/vaibhavmahindru">
                <i class="fab fa-github"></i>
            </a>
            <a class=" text-white p-2 mx-3 icons-hover" target="_blank"
                href="https://www.linkedin.com/in/vaibhav-mahindru-845604175/">
                <i class="fab fa-linkedin"></i>
            </a>
            <a class=" text-white p-2 mx-3 icons-hover" href="mailto:vaibhavmahindru04@gmail.com" target="_blank">
                <i class="far fa-envelope"></i>
            </a>
        </div>
    </div>
    <video src="/videos/video4.mp4" muted loop autoplay></video>
</div>