<nav class="navbar-expand-lg sticky-top navbar-dark bg-dark d-flex justify-content-between align-items-center px-3"
    style="border-bottom: 3px solid #494949;">
    <a href="/" class="text-decoration-none">
        <p class="text-white navbar-nav me-auto fs-1 hover ">Vaibhav&nbsp;
            <span class="text-muted fs-1 fw-normal ">Mahindru</span>
        </p>
    </a>
    <div class="navbar">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mx-2 my-1">
                    <li class="nav-item mx-2 my-1 ">
                        <a class=" nav-link  btn btn-outline-secondary text-white border btn-lg" aria-current="page"
                            href="#about-me">About Me</a>
                    </li>
                    <li class="nav-item mx-2 my-1 ">
                        <a class="nav-link btn btn-outline-secondary text-white border btn-lg" aria-current="page"
                            href="#experience" role="button">Experience</a>
                    </li>
                    <li class="nav-item mx-2 my-1 ">
                        <a class="nav-link btn btn-outline-secondary text-white border btn-lg" aria-current="page"
                            href="#skills">Skills</a>
                    </li>
                    <li class="nav-item mx-2 my-1">
                        <a class="nav-link btn btn-outline-secondary text-white border btn-lg" aria-current="page"
                            href="#projects">Projects</a>
                    </li>
                </ul>
            </div>
        </div>
        </div>
        

</nav>