<nav class="navbar-expand-lg navbar-dark bg-dark d-flex justify-content-between align-items-center px-3 py-2">
    <p class="text-white navbar-nav me-auto fs-2 hover">Vaibhav&nbsp;
        <span class="text-muted  fs-2 fw-normal ">Mahindru</span>
    </p>
    <div class="navbar">
        <div class="container-fluid">
            <div class=" navbar-collapse">
                <ul class="navbar-nav mx-2 my-1">
                    <li class="nav-item mx-2 my-1 ">
                        <a class=" nav-link  btn btn-outline-secondary text-white border-0 btn-lg" aria-current="page"
                            href="#">About Me</a>
                    </li>
                    <li class="nav-item mx-2 my-1 ">
                        <a class="nav-link btn btn-outline-secondary text-white border-0 btn-lg" aria-current="page"
                            href="#" role="button">Experience</a>
                    </li>
                    <li class="nav-item mx-2 my-1 ">
                        <a class="nav-link btn btn-outline-secondary text-white border-0 btn-lg" aria-current="page"
                            href="#">Skills</a>
                    </li>
                    <li class="nav-item mx-2 my-1">
                        <a class="nav-link btn btn-outline-secondary text-white border-0 btn-lg" aria-current="page"
                            href="#">Projects</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>