<section class=" bg-dark text-white text-start " id="projects" style="padding-top: 5rem;">
    <h1 class="display-4 text-uppercase text-decoration-underline text-center mb-5">some of my projects</h1>
    <div class=" d-flex container flex-wrap align-items-center justify-content-around mb-5 pb-5">
        <div class="card text-dark mt-5 text-center" style="width: 25rem;">
            <img src="images/projects/message_board.png" class="card-img-top border" alt="...">
            <div class="card-body">
                <h5 class="card-title">Mini Message Board</h5>
                <p class="card-text">A simple message board created using Express.js, ejs template, bootstrap and dummy
                    db. Anyone can read the
                    messages and write messages.</p>
                <div class="d-flex flex-row align-items-center justify-content-around">
                    <a class="btn btn-link" target="_blank"
                        href="https://github.com/vaibhavmahindru/mini-message-board">
                        Github Repo
                    </a>
                    <a class="btn btn-link" target="_blank" href="https://message1-board.herokuapp.com/">
                        Live Demo
                    </a>
                </div>
            </div>
        </div>
        <div class="card text-dark mt-5 text-center" style="width: 25rem;">
            <img src="images/projects/ums.png" class="card-img-top border " alt="...">
            <div class="card-body">
                <h5 class="card-title">User-Management-System</h5>
                <p class="card-text">A user management app made using express. atlas db, ejs and bootstrap.CRUD
                    functions can be performed in it. Made this while learning backend.</p>
                <div class="d-flex flex-row align-items-center justify-content-around">
                    <a class="btn btn-link" target="_blank"
                        href="https://github.com/vaibhavmahindru/User-Management-System">
                        Github Repo
                    </a>
                </div>
            </div>
        </div>
        <div class="card text-dark mt-5 text-center" style="width: 25rem;">
            <img src="images/projects/nc.png" class="card-img-top border" alt="...">
            <div class="card-body">
                <h5 class="card-title">Netflix-Clone</h5>
                <p class="card-text">A netflix clone made using React for frontend, firebase for db and deploying and
                    bootsrap for styling. Used <b class="text-uppercase">imdb api</b> for movies and <b
                        class="text-uppercase">youtube api</b> for trailers.</p>
                <div class="d-flex flex-row align-items-center justify-content-around">
                    <a class="btn btn-link" target="_blank" href="https://github.com/vaibhavmahindru/netflix-clone">
                        Github Repo
                    </a>
                </div>
            </div>
        </div>
        <div class="card text-dark mt-5 text-center" style="width: 25rem;">
            <img src="images/projects/meme.png" class="card-img-top border" alt="...">
            <div class="card-body">
                <h5 class="card-title">Meme Generator</h5>
                <p class="card-text">This is a simple React App to genrate and make random meme. User has to enter top
                    and bottom text and click submit and a random meme with the entered text will be genrated. Used a
                    meme api which gives random meme images.</p>
                <div class="d-flex flex-row align-items-center justify-content-around">
                    <a class="btn btn-link" target="_blank" href="https://github.com/vaibhavmahindru/meme-generator">
                        Github Repo
                    </a>
                    <a class="btn btn-link" target="_blank" href="https://vaibhavmahindru.github.io/meme-generator/">
                        Live Demo
                    </a>
                </div>
            </div>
        </div>
        <div class="card text-dark mt-5 text-center" style="width: 25rem;">
            <img src="images/projects/tp.png" class="card-img-top border" alt="...">
            <div class="card-body">
                <h5 class="card-title">Tribute Page(Elon Musk)</h5>
                <p class="card-text">A tribute page for Elon Musk using HTML, CSS and JAVASCRIPT. All the details were
                    taken from wikipedia.</p>
                <div class="d-flex flex-row align-items-center justify-content-around">
                    <a class="btn btn-link" target="_blank" href="https://github.com/vaibhavmahindru/tribute-fan-page">
                        Github Repo
                    </a>
                    <a class="btn btn-link" target="_blank" href="https://vaibhavmahindru.github.io/tribute-fan-page/">
                        Live Demo
                    </a>
                </div>
            </div>
        </div>
        <div class="card text-dark mt-5 text-center" style="width: 25rem;">
            <img src="images/projects/ms.png" class="card-img-top border" alt="...">
            <div class="card-body">
                <h5 class="card-title">React Movie Search</h5>
                <p class="card-text">This is a simple app made using reactjs to search movies by name. I have used the
                    <b class="text-uppercase">themoviedb API</b> for the same.
                </p>
                <div class="d-flex flex-row align-items-center justify-content-around">
                    <a class="btn btn-link" target="_blank" href="https://github.com/vaibhavmahindru/movie-search">
                        Github Repo
                    </a>
                    <a class="btn btn-link" target="_blank" href="https://vaibhavmahindru.github.io/movie-search/">
                        Live Demo
                    </a>
                </div>
            </div>
        </div>
        <div class="card text-dark mt-5 text-center" style="width: 25rem;">
            <img src="images/projects/pa.png" class="card-img-top border" alt="...">
            <div class="card-body">
                <h5 class="card-title">Plagiarism Detection</h5>
                <p class="card-text">Created a CLI app in C for plagiarism detection in two or more text files. In this
                    I have also showed a comparison of different algorithms by implementing them, for e.g. Rabin-Karp,
                    Winnowing, etc.</p>
                <div class="d-flex flex-row align-items-center justify-content-around">
                    <a class="btn btn-link" target="_blank"
                        href="https://github.com/vaibhavmahindru/Plagiarism-Algorithms">
                        Github Repo
                    </a>
                </div>
            </div>
        </div>
        <div class="card text-dark mt-5 text-center" style="width: 25rem;">
            <img src="images/projects/sda.png" class="card-img-top border" alt="...">
            <div class="card-body">
                <h5 class="card-title">Student Database Application</h5>
                <p class="card-text">A simple CLI app in JAVA to manage student enrollments and their balance.</p>
                <div class="d-flex flex-row align-items-center justify-content-around">
                    <a class="btn btn-link" target="_blank"
                        href="https://github.com/vaibhavmahindru/StudentDatabaseApplication">
                        Github Repo
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>