<section class="  text-start fs-3 d-flex flex-column align-items-center bg-light text-dark" id="skills"
    style="padding-top: 5rem;">
    <h1 class="display-4 text-uppercase text-decoration-underline text-center mb-3">skills</h1>
    <div class="col-9">
        <div class="row my-5 d-flex align-items-center">

            <div class="col-12 d-flex flex-wrap flex-row align-items-center justify-content-around m-2">
                <div class="d-flex flex-column align-items-center fs-1 m-4">
                    <i class="fas fa-code"></i>
                    <p class="title fs-4 text-uppercase">c++</p>
                </div>
                <div class="d-flex flex-column align-items-center fs-1 m-4">
                    <i class="fab fa-java"></i>
                    <p class="title fs-4 text-uppercase">java</p>
                </div>
                <div class="d-flex flex-column align-items-center fs-1 m-4">
                    <i class="fab fa-js-square"></i>
                    <p class="title fs-4 text-uppercase">javascript</p>
                </div>
                <div class="d-flex flex-column align-items-center fs-1 m-4"><i class="fab fa-html5"></i>
                    <p class="title fs-4 text-uppercase">HTML5</p>
                </div>
                <div class="d-flex flex-column align-items-center fs-1 m-4">
                    <i class="fab fa-css3-alt"></i>
                    <p class="title fs-4 text-uppercase">css3</p>
                </div>
                <div class="d-flex flex-column align-items-center fs-1 m-4">
                    <i class="fab fa-sass"></i>
                    <p class="title fs-4 text-uppercase">sass</p>
                </div>
                <div class="d-flex flex-column align-items-center fs-1 m-4">
                    <i class="fab fa-bootstrap"></i>
                    <p class="title fs-4 text-uppercase">bootstrap</p>
                </div>
                <div class="d-flex flex-column align-items-center fs-1 mx-4 ">
                    <svg xmlns="http://www.w3.org/2000/svg" width="65" height="55">
                        <defs>
                            <linearGradient x1="0" y1="-21.333" y2="85.333" id="A" x2="64"
                                gradientUnits="userSpaceOnUse">
                                <stop stop-color="#2383ae" offset="0%" />
                                <stop stop-color="#6dd7b9" offset="100%" />
                            </linearGradient>
                        </defs>
                        <path
                            d="M16 25.6c2.133-8.533 7.467-12.8 16-12.8 12.8 0 14.4 9.6 20.8 11.2 4.267 1.067 8-.533 11.2-4.8C61.867 27.733 56.533 32 48 32c-12.8 0-14.4-9.6-20.8-11.2-4.267-1.067-8 .533-11.2 4.8zM0 44.8C2.133 36.267 7.467 32 16 32c12.8 0 14.4 9.6 20.8 11.2 4.267 1.067 8-.533 11.2-4.8-2.133 8.533-7.467 12.8-16 12.8-12.8 0-14.4-9.6-20.8-11.2-4.267-1.067-8 .533-11.2 4.8z"
                            fill="url(#A)" fill-rule="evenodd" />
                    </svg>
                    <p class="title fs-4 text-uppercase">tailwind css</p>
                </div>
                <div class="d-flex flex-column align-items-center fs-1 m-4"><svg width="45" height="45"
                        viewBox="0 0 256 208" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMinYMin meet">
                        <path d="M15.624 35.012v87.53l15.058-8.471V43.482l-15.058-8.47z" fill="#949494" />
                        <path d="M.565 114.07V8.66l89.411 50.823v17.883L15.624 35.012v87.53L.564 114.07z"
                            fill="#EFEFEF" />
                        <path
                            d="M181.27 8.659V114.07l-60.235 33.882-15.059-9.412 60.236-33.882V34.07L89.976 77.365V59.482L181.271 8.66z"
                            fill="#949494" />
                        <path d="M166.212.188L90.918 42.541 15.624.188.564 8.658l89.412 50.824L181.271 8.66 166.21.189z"
                            fill="#D6D6D6" />
                        <path d="M151.153 42.541v53.647l15.059 8.47V34.072l-15.06 8.47z" fill="#EFEFEF" />
                        <path
                            d="M75.859 138.541l75.294-42.353 15.059 8.47-60.236 33.883 59.295 33.883 60.235-33.883 15.059 8.47-75.294 42.354-89.412-50.824z"
                            fill="#D6D6D6" />
                        <path
                            d="M75.859 138.541v17.883l89.412 50.823v-17.882L75.859 138.54zM240.565 147.012V94.306l-15.06-8.47v52.705l15.06 8.47z"
                            fill="#EFEFEF" />
                        <path d="M165.27 189.365l75.295-42.353V94.306l15.059-8.47v70.588l-90.353 50.823v-17.882z"
                            fill="#949494" />
                        <path d="M255.624 85.835l-15.06 8.47-15.058-8.47 15.059-8.47 15.059 8.47z" fill="#D6D6D6" />
                        <path d="M240.565 77.365V59.482l15.059-8.47v17.882l-15.06 8.47z" fill="#949494" />
                        <path d="M240.565 59.482v17.883l-15.06-8.47V51.011l15.06 8.47z" fill="#EFEFEF" />
                        <path d="M255.624 51.012l-15.06 8.47-15.058-8.47 15.059-8.47 15.059 8.47z" fill="#D6D6D6" />
                    </svg>
                    <p class="title fs-4 text-uppercase text-uppercase">material ui</p>
                </div>
                <div class="d-flex flex-column align-items-center fs-1 m-4"><i class="fab fa-react"></i>
                    <p class="title fs-4 text-uppercase text-uppercase">react</p>
                </div>


                <div class="d-flex flex-column align-items-center fs-1 m-4">
                    <i class="fab fa-react"></i>
                    <p class="title fs-4 text-uppercase">react-native</p>
                </div>
                <div class="d-flex flex-column align-items-center fs-1 m-4">
                    <i class="fab fa-node"></i></i>
                    <p class="title fs-4 text-uppercase">node js</p>
                </div>


                <div class="d-flex flex-column align-items-center fs-1 m-4">
                    <i class="fab fa-npm"></i>
                    <p class="title fs-4 text-uppercase">npm</p>
                </div>
                <div class="d-flex flex-column align-items-center fs-1 m-4">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="50" height="50">
                        <path
                            d="M32 24.795c-1.164.296-1.884.013-2.53-.957l-4.594-6.356-.664-.88-5.365 7.257c-.613.873-1.256 1.253-2.4.944l6.87-9.222-6.396-8.33c1.1-.214 1.86-.105 2.535.88l4.765 6.435 4.8-6.4c.615-.873 1.276-1.205 2.38-.883l-2.48 3.288-3.36 4.375c-.4.5-.345.842.023 1.325L32 24.795zM.008 15.427l.562-2.764C2.1 7.193 8.37 4.92 12.694 8.3c2.527 1.988 3.155 4.8 3.03 7.95H1.48c-.214 5.67 3.867 9.092 9.07 7.346 1.825-.613 2.9-2.042 3.438-3.83.273-.896.725-1.036 1.567-.78-.43 2.236-1.4 4.104-3.45 5.273-3.063 1.75-7.435 1.184-9.735-1.248C1 21.6.434 19.812.18 17.9c-.04-.316-.12-.617-.18-.92q.008-.776.008-1.552zm1.498-.38h12.872c-.084-4.1-2.637-7.012-6.126-7.037-3.83-.03-6.58 2.813-6.746 7.037z" />
                    </svg>
                    <p class="title fs-4 text-uppercase">express</p>
                </div>
                <div class="d-flex flex-column align-items-center fs-1 m-4">
                    <i class="fab fa-git-alt"></i>
                    <p class="title fs-4 text-uppercase">git</p>
                </div>



                <div class="d-flex flex-column align-items-center fs-1 m-4">
                    <svg xmlns="http://www.w3.org/2000/svg" height="50" viewBox="0 0 32 32" width="50">
                        <path d="M19.62 11.558l-3.203 2.98-2.972-5.995 1.538-3.448c.4-.7 1.024-.692 1.414 0z"
                            fill="#ffa000" />
                        <path d="M13.445 8.543l2.972 5.995-11.97 11.135z" fill="#f57f17" />
                        <path
                            d="M23.123 7.003c.572-.55 1.164-.362 1.315.417l3.116 18.105-10.328 6.2c-.36.2-1.32.286-1.32.286s-.874-.104-1.207-.3L4.447 25.673z"
                            fill="#ffca28" />
                        <path d="M13.445 8.543l-8.997 17.13L8.455.638c.148-.78.592-.855.988-.167z" fill="#ffa000" />
                    </svg>
                    <p class="title fs-4 text-uppercase">firebase</p>
                </div>
                <div class="d-flex flex-column align-items-center fs-1 m-4">
                    <svg height="50" viewBox="0 0 32 32" width="50" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="m15.9.087.854 1.604c.192.296.4.558.645.802.715.715 1.394 1.464 2.004 2.266 1.447 1.9 2.423 4.01 3.12 6.292.418 1.394.645 2.824.662 4.27.07 4.323-1.412 8.035-4.4 11.12-.488.488-1.01.94-1.57 1.342-.296 0-.436-.227-.558-.436-.227-.383-.366-.82-.436-1.255-.105-.523-.174-1.046-.14-1.586v-.244c-.024-.052-.285-24.052-.181-24.175z"
                            fill="#599636" />
                        <path
                            d="m15.9.034c-.035-.07-.07-.017-.105.017.017.35-.105.662-.296.96-.21.296-.488.523-.767.767-1.55 1.342-2.77 2.963-3.747 4.776-1.3 2.44-1.97 5.055-2.16 7.808-.087.993.314 4.497.627 5.508.854 2.684 2.388 4.933 4.375 6.885.488.47 1.01.906 1.55 1.325.157 0 .174-.14.21-.244a4.78 4.78 0 0 0 .157-.68l.35-2.614z"
                            fill="#6cac48" />
                        <path
                            d="m16.754 28.845c.035-.4.227-.732.436-1.063-.21-.087-.366-.26-.488-.453-.105-.174-.192-.383-.26-.575-.244-.732-.296-1.5-.366-2.248v-.453c-.087.07-.105.662-.105.75a17.37 17.37 0 0 1 -.314 2.353c-.052.314-.087.627-.28.906 0 .035 0 .07.017.122.314.924.4 1.865.453 2.824v.35c0 .418-.017.33.33.47.14.052.296.07.436.174.105 0 .122-.087.122-.157l-.052-.575v-1.604c-.017-.28.035-.558.07-.82z"
                            fill="#c2bfbf" />
                    </svg>
                    <p class="title fs-4 text-uppercase">mongo<span class="text-muted">db</span></p>
                </div>


            </div>
        </div>
    </div>
</section>