*{
  margin:0;
  padding: 0;
}
.hover{
  position: relative;
}
.hover:hover:before {
  visibility: visible;
  width: 100%;
}

.hover:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #FFF;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}