*{
  margin:0;
  padding: 0;
}
.hover ,
.mern-hover{
  position: relative;
}
.hover:hover:before,
.mern-hover:hover:before{
  visibility: visible;
  width: 100%;
}

.hover:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #FFF;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.mern-hover:before{
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #FFFF00;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}


.text-hover{
  background-image: linear-gradient(to right, rgba(255,255,255,0) 50%, #ddd 100%);
  background-position: -0% 0;
  background-size: 200% auto;line-height: 1.15em;
  text-decoration: none;
  transition: background-position 0.5s ease-out ;
  
}
.text-hover:hover {
  background-position: -99.99% 0;
}

.bg-img{
  background-image: url('/images/background.jpg');
  background-color: #cccccc;
}

.bg-black{
  background-color: rgb(15, 15, 15);
}

.icons-hover{
  transition: font-size 0.2s  ease-in-out;
}

.icons-hover:hover{
  font-size: 50px;
}

video{
  position: absolute;
  width: 100%;
  height: 100%;
  
  object-fit:fill;
}

.z{
  z-index: 1000;
}

.shd{
  box-shadow:  10px 10px 0 0 rgba(90, 89, 89, 0.5)
}

.large{
  font-size: 35px
}

.medium{
  font-size: 25px;
}

.small{
  font-size: 15px
}

.color-hover{
  padding: 10px 0;
  cursor: pointer;
  transition: background-color 0.4s ease-in-out;
}
.color-hover:hover{
  background-color: #cccccc;
}